# C++ objects and libs
*.o
*.a

# Qt-es
.qmake.cache
.qmake.stash
*.pro.user
*.pro.user.*
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.qm

# Binaries
GPXLab
!GPXLab/
gpxlab

# macOS
.DS_Store

# Doxygen
doc/html
